<div class="spinner-wrapper" id="preloader" [ngClass]="{'hide': hideSpinner}">
  <div class="spinner-container">
      <div class="spinner-outer">
          <div class="spinner">
              <div class="left mask">
                  <div class="plane"></div>
              </div>
              <div class="top mask">
                  <div class="plane"></div>
              </div>
              <div class="right mask">
                  <div class="plane"></div>
              </div>
              <div class="triangle">
                  <div class="triangle-plane"></div>
              </div>
              <div class="top-left mask">
                  <div class="plane"></div>
              </div>
              <div class="top-right mask">
                  <div class="plane"></div>
              </div>
          </div>
          <p class="spinner-text">ZA Realty</p>
      </div>
  </div>
</div>
<mat-toolbar color="primary">
  ZA Realty App

  <span class="spacer"></span>

  <button mat-flat-button color="primary" *ngIf="isloggedIn" routerLink="home" routerLinkActive="active">Home</button>
  <button mat-flat-button color="primary" *ngIf="isloggedIn" routerLink="admin" routerLinkActive="active">Admin</button>
  <button mat-flat-button color="primary" *ngIf="isloggedIn" (click)="logout()" routerLinkActive="active">Logout {{socialUser?.name}}</button>
  <a mat-icon-button>
  <mat-icon *ngIf="!socialUser.photoUrl">account_circle</mat-icon>
     <img style="height: 26px;" *ngIf="socialUser.photoUrl"
          [src]="socialUser.photoUrl"/>
</a>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
